/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: "Open Sans", sans-serif;
  background: rgb(6, 0, 105);
  background: linear-gradient(90deg, rgba(6, 0, 105, 1) 0%, rgba(7, 7, 75, 1) 35%, rgba(0, 0, 0, 1) 100%);
}






@keyframes enter {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes exit {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.6);
  }
}

::view-transition-old(root) {
  animation: exit 1s ease 0s 1 normal forwards;
}

::view-transition-new(root) {
  animation: enter 1s ease 0s 1 normal forwards;
}